.portfolio-section {
    padding: 10em 0px;
    min-height: 100vh;

    // @TODO: Learn grid

    @include themed() {
      color: t($text);
      background: t($bg);
    }
  }

  .portfolio-section__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1.5rem;

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
