$bg: 'bg';
$text: 'text';
$text-important: 'text-important';
$text-secondary: 'text-secondary';
$bg-secondary: 'bg-secondary';
$bg-tertiary: 'bg-tertiary';

$themes: (
        default: (
                bg: $bg--light,
                bg-secondary: $bg--light--secondary,
                bg-tertiary: $bg--light--tertiary,
                text: $text--light,
                text-important: $text--imp--light,
                text-secondary: $text--2--light,
        ),
        dark: (
                bg: $bg--dark,
                bg-secondary: $bg--dark--secondary,
                bg-tertiary: $bg--dark--tertiary,
                text: $text--dark,
                text-important: $text--imp--dark,
                text-secondary: $text--2--dark,
        ),
);


@mixin themed() {
    @each $theme, $map in $themes {
      .theme--#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }

  @function t($key) {
    @return map-get($theme-map, $key);
  }
