$font-family: 'Raleway', 'Open Sans Condensed', 'Arial', 'sans-serif';

$bg--light: #F5F4F3;
$bg--light--secondary: #cecbcb;
$bg--light--tertiary: #34454e;
$text--imp--light: #242D30;
$text--light: lighten($text--imp--light, 5%);
$text--2--light: $text--imp--light;

$bg--dark: #252c31;
$bg--dark--secondary: #2c353c;
$bg--dark--tertiary: #7892b3;
$text--dark: #cac3bc;
$text--imp--dark: #E8E4E0;
$text--2--dark: $text--imp--dark;

$bg-gray-loader: #EBEBEB;

$tailwind-breakpoint-sm: 640px;
$tailwind-breakpont-md: 768px;
$tailwind-breakpoint-lg: 1024px;
$tailwind-breakpoint-xl: 1280px;
