$font-family: 'Raleway', 'Open Sans Condensed', 'Arial', 'sans-serif';

$bg--light: #F5F4F3;
$bg--light--secondary: #cecbcb;
$text--imp--light: #242D30;
$text--light: lighten($text--imp--light, 5%);
$text--2--light: $text--imp--light;

$bg--dark: #252c31;
$bg--dark--secondary: #2c353c;
$text--dark: #cac3bc;
$text--imp--dark: #E8E4E0;
$text--2--dark: $text--imp--dark;

$bg-gray-loader: #EBEBEB;
