@import "base/base";
@import "vendor/tailwind";
@import "vendor/placeholderLoading";

@import "components/baseLoader";
@import "components/navbar";
@import "components/footer";
@import "components/errorBoundary";
@import "components/notFound";
@import "components/blinker";

@import "pages/public/home";
@import "pages/public/portfolio";
@import "pages/public/about";
@import "pages/public/contact";
@import "pages/public/resume";
@import "pages/public/personal";
@import "pages/public/more";
@import "pages/admin/main";
@import "pages/admin/login";
